* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(90deg, #000000,#1a1a1a,#242424,#3f3f3f, #016c8d);
}

