@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.container {
    margin-top: 5rem;
    margin-left: 20vw;
    margin-right: 20vw;

    .header-title{
        color: rgb(184, 181, 181);   
        font-family: 'Bungee', cursive;
    }

    .section-search{ 
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: rgba(255,255,255,0.1);
        border: 1px solid #016c8d;   
        
        
        border-radius: 20px; 
        display: flex;
        margin-bottom: 2rem;
        padding: 1rem;

    
        .form{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.3rem;   
            width: 100%;
        }

        .input-search{

            background: inherit;
            color: #F1F2F3;
            border: transparent;
            font-size: 1rem;
            padding: 1rem;
            outline: 0;
            transition: all 0.2s;
            width: 100%

        }

        button{
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            height: 2rem;
            margin-left: 2rem;
            padding: 1.5rem 3rem;
            outline: 0;
            border: 1px solid transparent;
            border-radius: 15px;
            background: #016c8d;
            color: #F1F2F3;
            cursor: pointer;
        }
    }

}